%html
  %head
  %body
    %table
      = haml :form
      %br
      %b= series[:title]
      %br
      - series.each do |episode, links|
        - next if episode == :title
        %tr
          %td= episode
          -links.each do |resolution, link|
            %td
              %a{ href: link}= resolution
